.firstName {
  .form-group {
    float: left;
    width: 45%;
  }
}

.secondName {
  .form-group {
    float: right;
    width: 45%;
  }
}

.email,
.password {
  .form-group {
    float: left;
    width: 100%;
  }
}

.content {
  width: 50%;
  margin: auto;
}
