.firstName,
.secondName {
  .form-group {
    width: 50%;
  }
  // .input-field:focus {
  //   border: 1px solid red;
  // }
}

.email,
.password {
  .form-group {
    width: 100%;
  }
}

.content {
  width: 50%;
  margin: auto;
}