$primaryColorStop1: #16222A;
$primaryColorStop2: #3A6073;
$buttonColor: white;
$hoverPrimaryColorStop1:#0d151a;
$hoverPrimaryColorStop2: #2b4755;
$boxShadowColor: #fcf8f8;
$disableBackgroundColor:#fff;
$disableColor:#bababa;
$input-spacing: 10px;

.button-primary {
  margin: 10px;
  width: 320px;
  height: 50px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;            
  box-shadow: 0 0 20px $boxShadowColor;
  border-radius: 10px;
  display: inline-block; 
  background: rgb(39, 143, 39);
  border: 1px solid $primaryColorStop1;
  color: $buttonColor;
  font-size: 18px;
  }
    
.button-primary:hover,
.button-primary:active { 
  // background-image: linear-gradient($hoverPrimaryColorStop1 70%, $hoverPrimaryColorStop2 100%);
  background: rgb(33, 104, 71);
  color: $buttonColor;
  text-decoration: none;
}
  
.button-primary:disabled {
  background: rgb(39, 143, 39);
  color: $disableColor;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
  border: 1px solid $disableColor;
}

