$labelhighlight: rgb(18, 18, 146);
$highlight: red;
$borderColor: #ccc;
$labelColor: #aaa;
$input-spacing: 10px;

.form-group {
  margin-top: 12px;
  display: inline-block;
  position: relative;
}

.input-field {
  margin: 10px;
  width: 300px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid $borderColor;
  padding: 16.5px 14px;
}

.input-field:focus{
  outline:none;
  border: 2px solid $highlight;
  border-radius: 6px;
}

.label-text {
  font-family: "Public Sans", sans-serif;
  position: absolute;
  top: 15px;
  left: 8px;
  margin: 10px;
  color: $labelColor;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.label-text-active {
  position: absolute;
  top: -8px;
  left: 8px;
  margin: 10px;
  border-radius: 5px;
  color: $highlight;
  background-color: white;
  font-family: "Public Sans", sans-serif
}

.error-focus {
  color: $highlight;
  font-size: 12px;
  margin: 10px;
  font-family: "Public Sans", sans-serif
}
