$errorColor: #ff0000;
$successColor: #00ab55;
$borderColor: #ccc;
$labelColor: #aaa;
$font: "Public Sans", sans-serif;

.form-group {
  // margin-top: 12px;
  // display: inline-block;
  position: relative;
}

.input-field {
  width: 100%;
  margin: 10px 0;
  height: 54px;
  border-radius: 8px;
  border: 1px solid $borderColor;
  padding: 17px 14px;
  box-sizing: border-box;
}

.input-field:focus {
  outline: none;
  border-width: 2px;
  border-radius: 8px;
}

.input-field-hasErrorMsg {
  border: 1px solid $errorColor;
}

.input-field-success {
  border: 1px solid $successColor;
}

.label-text {
  font-family: $font;
  position: absolute;
  top: 15px;
  left: 8px;
  margin: 10px;
  color: $labelColor;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.label-text-active {
  position: absolute;
  top: -8px;
  left: 8px;
  margin: 10px;
  border-radius: 8px;
  color: $labelColor;
  background-color: white;
  font-size: 0.75em;
  padding-left: 5px;
  padding-right: 5px;
  font-family: $font;
}
.label-text-hasErrorMessage {
  color: $errorColor;
}
.label-text-success {
  color: $successColor;
}

.error-focus {
  color: $errorColor;
  font-size: 12px;
  margin: 10px;
  font-family: $font;
}

i {
  margin-left: -68px;
  cursor: pointer;
}
