$highlight: rgb(18, 18, 146);
$buttonColor: white;

.header {
  color: $highlight;
}

.submit-btn {
  background-color: $highlight;
  border: none;
  color: $buttonColor;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
