$highlight:#3A6073;
$topBottomSpacing: 30px;
$rightLeftSpacing:8px;

.header {
  color: $highlight;
  margin: 4px;
  display: inline;
  padding: $topBottomSpacing $rightLeftSpacing $topBottomSpacing $rightLeftSpacing;
}

.first{
  background: red;
}